/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__image {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}

.main-content {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task-add__label {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
}

.task-add__row {
  display: flex;
}
  
.task-add__input {
  flex-grow: 1;
}

.task-add__button {
  border: none;
  background: none;
  color: #888;
  font-size: 15px;
  cursor: pointer;
}
  
.task-add__button:hover {
  color: #333;
}
  
/* Heading */
.tasks__title {
  font-size: 15px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 30px 0 10px;
}

.tasks__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tasks__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.tasks__checkbox {
  margin-right: 10px;
}

.tasks__label {
  flex-grow: 1;
  font-size: 18px;
}

.tasks__label--completed {
  text-decoration: line-through;
  color: #888;
}

.tasks__input {
  display: none;
  width: 226px;
}

.tasks__item--edit-mode .tasks__input {
  display: inline-block;
}

.tasks__item--edit-mode .tasks__label {
  display: none;
}

.tasks__button {
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
}

.tasks__button:hover {
  color: #333;
}

.tasks__button--delete .tasks__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.tasks__button--delete .tasks__icon:hover {
  transform: rotateZ(0);
}